@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
  background-image: url('../assets/star-wars-backgrounds-25.jpg');
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}

.home__logo {
  height: 15vh;
}

/* Media Queries */

@media (min-width: 768px) {
  li > a {
    font-size: 1.5rem;
  }
  .home__logo {
    height: 20vh;
  }
}
