.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.nav__logo {
  height: 10vh;
}

.nav__content {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 50%;
}

.nav__logo-link:hover {
  border: none;
}

/* Media Queries */

@media (min-width: 768px) {
  .nav__logo {
    height: 5vh;
  }
  .nav__content {
    width: 65%;
  }
}

@media (min-width: 1280px) {
  .nav__logo {
    height: 10vh;
  }
  .nav__content {
    width: 50%;
    justify-content: space-between;
  }
}
